<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1><u>User List</u></h1>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Email-Id</th>
                <th>Phone</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}">Username</td>
                <td th:text="${user.email}">Email-Id</td>
                <td th:text="${user.mobile}">Phone</td>
                <td th:text="${user.address}">Address</td>
            </tr>
        </tbody>
    </table>

</body>
</html>